*{
    height: 100%;
}
.main-container{
    background-image: url("background.jpeg");
}

.chat-container{
height: 90%;
width: 100%;
border-radius: 10px;
background-color: rgb(13, 12, 82);
color:white;
}
.chat-title{
    height: 4%;
}
.inner-chat-container {
height: 98%;
width: 100%;
background-color: rgb(218, 224, 233);
}

.chat-title{
    font-size: 22px;
}

.text-input-area{
    height: 10%;
    width: 100%;
}

.text-input{
    width: 100%;
}
.input{
    width: 90%;
    background-color: inherit;
    border :0;
    outline: none;
}
.input:focus{
    outline: none;
}

.message-area{
    border-bottom: 1px solid rgb(175, 175, 175);
    height: 80%;
}

.user-msg{
    max-width: 45%;
    color: white;
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(23, 56, 241);
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 15px;
    height: auto;
    overflow-wrap: break-word;
}

.bot-msg{
    max-width: 45%;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(5, 13, 56);
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 15px;
    height: auto;
}
.send-button{
    background-color: inherit;
    background-image:url("send_icon.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    width: 10%;
    height: 90%;
}