*{
    height: 100%;
}
.main-container{
    background-image: url("background.jpeg");
}

.chat-container{
height: 90%;
width: 100%;
border-radius: 10px;
background-color: rgb(128, 2, 247);
}
.chat-title{
    height: 4%;
}
.inner-chat-container {
height: 98%;
width: 100%;
/* border-radius: 10px; */
background-color: rgb(218, 224, 233);
}

.chat-title{
    font-size: 22px;
}

.text-input-area{
    height: 10%;
    width: 100%;
}

.text-input{
    width: 90%;
}
.input{
    width: 100%;
    /* border-radius: 10px; */
}
.send-icon{
 cursor: pointer;
 width: 7%;
 width: 10%;
 height: 80%;
}
.user-msg-area{
    width: 48%;
    height: 100%;
    /* background-color: blueviolet; */
}
.bot-msg-area{
width: 40%;
height: 100%;
/* background-color: aqua; */
}